<div class="cube" >
    <div class="part">
        <img src="../images/p1.png" height="200" width="200"/>
        
    </div>

     <div class="part">
         <img src="../images/p2.png" height="200" width="200"/>

     </div>
    <div class="part">
        <img src="../images/p3.png" height="200" width="200"/>

    </div>
    <div class="part">
        <img src="../images/p4.png" height="200" width="200"/>
    </div>
    <div class="part">
        <img src="../images/p5.png" height="200" width="200"/>
    </div>
    <div class="part">
        <img src="../images/p6.png" height="200" width="200"/>
    </div>
</div>
