<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/stylesheets/css/users.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>


    <%- include('nav') %>

    <nav>
      <a href="/config">修改密码</a>
      <a href="/config/updatename">设置昵称</a>
    </nav>




        <div class="login">

       <h3>设置昵称</h3>
       <% if(!user){%>
         <h3 style="color:red">请先登录</h3>

         <%}%>
       <form class="" action="/config/updatename" method="post">
         <div style="color:green;font-weight:bold" data-success>

         </div>
         <div style="color:red" data-error="nameword">

         </div>

         <div style="color:red" data-error="nameword">

         </div>

         <span>现有昵称为    <%=user.name%></span>

           <input type="text" name="name" placeholder="请输入新的昵称" value="" %> >
           <div style="color:red" data-error="vimg">

           </div>

         <input class="check" type="text" name="vimg" value="" placeholder="请输入图片中数字">
         <img src="/config/vimg2" alt="">
         <input class = "subbutton" type="submit" name="" value="确认">
       </form>
     </div>



     <script type="text/javascript">


     const form = document.querySelector("form");
     const nameerror = form.querySelector("[data-error=nameword]");

     const vimgerror = form.querySelector("[data-error=vimg]");
     const success = form.querySelector("[data-success]");

     form.onsubmit = function(event){
       event.preventDefault();

       var formdata = new FormData();
       var nameinput = form.querySelector("input");
       var name = nameinput.value;

       var vimg = form.querySelector(".check").value;
       var vimg1 = form.querySelector("img").value;

         if(name.length > 50){
           let errors = {};
           errors.nameword = "输入的昵称过长，不得超过50";
           showInfo(JSON.stringify(errors));
         }


         fetch("/config/updateName",{
           method:"POST",
           credentials: "include",//or "include",
           headers:{
             "Content-Type":"application/json"
           },

           body:JSON.stringify({name,vimg})

         }).then(res=>res.text()
         )
         .then(errors=>{
           // console.log(errors);
           showInfo(errors);
         });
       }




        function ckname(){
          var user = document.getElementById('username').value;
          var patten = /^[a-zA-Z]\w{3,15}$/ig;
          if(!patten.test(user))
          {
            alert('输入名称不符合要求');
            return false;
          }else{
            return true;
          }
          }

          function ckpw(){
            var pw = document.getElementById('pw').value;
            var patten = /^[a-zA-Z\d_]{6,12}$/ig;
            if(!patten.test(pw))
            {
              alert('输入密码不符合要求');
              return false;
            }else{
              return true;
            }
          }

          function showInfo(errors){
            if(errors){
              errors = JSON.parse(errors);//string->json
              console.log("show:"+Object.keys(errors));
              console.log(Object.keys(errors).length);
              console.log(errors);

              if(errors.vimg){
                vimgerror.innerText = errors.vimg;
              }
              if(errors.nameword){
                nameerror.innerText = errors.nameword;
              }
              if(errors.err){
                alert(errors.err);
              }

            }else{
              console.log("sucess");
              alert("昵称设置成功");

              window.location.href="/config/updatename";



            }
          }

          // function validate(loginname,password){
          //
          //   let errors = "";
          //   if(!(loginname && loginname.length > 2 && loginname.length <10)){
          //     errors = errors || {};
          //     errors.name = "name length >2 and <10";
          //   }
          //
          //   if(!/\w{5,12}$/.test(password)){
          //     errors = errors || {};
          //     errors.pw = "你的密码格式有问题";
          //   }
          //
          //   return errors;
          // }

      </script>
      <script type="text/javascript" src="/javascripts/hidnav.js">
      </script>

  </body>
</html>
