<div id="chatbox" class="hiddenbox" style="position:fixed;top:200px;right:30px">
  <iframe src="/chat/chatbox" width="300px" height="500px" frameborder=0 name="chatbox" allowTransparency="true"></iframe>

</div>
<button id="chatbutton" type="button" name="button" style="float:right">聊天</button>
<button id="closebutton" type="button" name="button" style="float:right">关闭聊天</button>
