@charset "UTF-8";
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4; }

img {
  display: inline-block; }

.porduct {
  display: inline-block;
  margin: 10px; }

.product > h4 {
  width: 100%; }

a {
  color: #00B7FF;
  text-decoration: none;
  margin: 10px; }

a:hover {
  color: #0033ff; }

#navall {
  display: none; }

@media (max-width: 500px) {
  #navall {
    display: block; }
  nav {
    position: absolute;
    top: 100px;
    background-color: rgba(33, 33, 33, 0.8); }
    nav a.open {
      display: inline-block; } }

@media (max-width: 500px) {
  nav > a {
    display: none; } }

input {
  display: block;
  height: 40px;
  border-radius: 3px;
  width: 250px;
  border: 1px solid transparent;
  font-size: 10pt;
  padding-left: 5px; }

input[type="submit"] {
  background-color: #3c84ff;
  color: #ffffff; }

textarea {
  border: 1px solid #f4f4f4; }

.users {
  text-align: right; }

.text {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  overflow: scroll;
  border: 1px solid #eee;
  background-color: #ffffff; }

.article > input {
  border: 1px solid #eee; }

.box {
  width: 200px;
  height: 200px;
  border: 10px solid;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
  transition: transform 3s,text-shadow 3s;
  margin: 10px;
  border-style: double;
  text-align: center;
  font-size: 30pt;
  line-height: 200px;
  border-image: url(../images/p3.png) 10 repeat;
  color: gray; }

.box:hover {
  transform: rotate(45deg);
  text-shadow: 5px 5px 5px gray; }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0; }

ul.pagination span {
  color: black;
  float: left;
  padding: 7px 16px;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd; }

ul.pagination li {
  display: inline; }

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd; }

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50; }

ul.pagination li a:hover:not(.active) {
  background-color: #ddd; }

div.center {
  text-align: center; }

.openbox {
  display: block; }

.hiddenbox, #closebutton {
  display: none; }

body {
  /* background: -webkit-linear-gradient(left top, red , blue); /* Safari 5.1 - 6.0 */
  /* background: -o-linear-gradient(bottom right, red, blue); /* Opera 11.1 - 12.0 */
  /* background: -moz-linear-gradient(bottom right, red, blue); /* Firefox 3.6 - 15 */
  /* background: linear-gradient(to bottom right, red , blue); /* 标准的语法（必须放在最后） */
  background: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0), red);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 0, 0, 0), red);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 0, 0, 0), red);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(30, 144, 255, 0), rgba(0, 0, 255, 0.5));
  /* 标准的语法（必须放在最后） */
  min-height: 500px; }

.login {
  padding: 10px;
  margin: 30px auto;
  width: 500px;
  min-height: 300px;
  background-color: #f4f4f4;
  text-align: center;
  overflow: auto;
  border-radius: 3px; }
  .login input {
    margin: 20px auto; }
  @media (max-width: 500px) {
    .login {
      width: 300px;
      margin: 5px auto;
      left: 50px;
      top: -100px; }
      .login input {
        width: 200px; } }

@keyframes test {
  25% {
    transform: rotateX(30deg) rotateY(30deg) rotateZ(0deg); }
  50% {
    transform: rotateX(80deg) rotateY(80deg) rotateZ(0deg); }
  75% {
    transform: rotateX(120deg) rotateY(120deg) rotateZ(0deg); }
  100% {
    transform: rotateX(190deg) rotateY(190deg) rotateZ(0deg); } }

.cube {
  z-index: -1;
  transform-style: preserve-3d;
  animation: test 5s infinite;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  /*transform:rotateX(10deg) rotateY(10deg);*/
  /*transition:transform 5s;*/
  margin: 50px; }
  @media (max-width: 500px) {
    .cube {
      display: none; } }

.cube:hover {
  transform: rotateX(50deg) rotateY(-30deg) rotateZ(56deg); }

.part {
  position: absolute;
  width: 200px;
  height: 200px; }

.part > image {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0;
  left: 0; }

.part:nth-child(1) {
  background: yellow;
  transform: translateY(-100px) rotateX(90deg); }

.part:nth-child(2) {
  background: red;
  opacity: 0.9;
  transform: translateY(100px) rotateX(90deg); }

.part:nth-child(3) {
  background: blue;
  transform: translateX(-100px) rotateY(90deg); }

.part:nth-child(4) {
  background: green;
  transform: translateX(100px) rotateY(90deg); }

.part:nth-child(5) {
  background: skyblue;
  opacity: 0.9;
  transform: translateZ(100px); }

.part:nth-child(6) {
  background: black;
  /*opacity: 0.3;*/
  transform: translateZ(-100px); }
